.upload-wrapper {
    position: absolute;
    right: 30px;
    top: 60px;
}

.upload-holder {
    height: auto;
    margin-right: 32px;
    position: relative;
    width: 85px;
    display: inline-block;
}

.upload-holder span {
    background: #fff url(assets/images/upload-image.png) no-repeat scroll 15px 20px;
    border: 1px solid #d4d4d4;
    color: transparent;
    cursor: pointer;
    float: left;
    height: 85px;
    margin-bottom: 10px;
    margin-right: 32px;
    width: 85px;
}
.upload-holder input[type="file"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    cursor: pointer;
    height: 85px;
    opacity: 0 !important;
    width: 85px;	
}

.upload-holder .thumbnail-close {
    background: rgba(0, 0, 0, 0) url(assets/images/close-button-24.png) no-repeat scroll 0 0;
    display: block;
    height: 24px;
    overflow: hidden;
    position: absolute;
    right: -10px;
    text-indent: -9999px;
    top: -10px;
    width: 24px;
}
.upload-holder .thumbnail-close:focus, .upload-holder .thumbnail-close:hover {
    background-position: 0 -24px;
}

.upload-holder figure {
    border: 1px solid #d4d4d4;
    height: 85px;
    width: 85px;
    margin: 0;
}

.upload-holder figure div {
    height: 85px;
    width: 85px;
    display: table-cell;
    margin: 0 auto;
    vertical-align: middle;
}
.upload-holder figure div img {
    max-height: 85px;
    max-width: 85px;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
}